#mainTitle {
    font-size: 144px;
    
    width: 50%;
    margin: auto;
}

#title {
    display:flex;
    
    justify-content:center;
    align-items:center;
}

#node_button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}