#mainTitle {
    font-size: 230px;
    text-shadow: 3px 1px 3px black;
}

#title {
    display:flex;
    
    justify-content:center;
    align-items:center;
}

#node_button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: xx-large;
    margin: 4px 2px;
    cursor: pointer;
    width: 45%;
}

.button-white {
    color: black;
    background-color: transparent;
    box-shadow: 2px 1px 0px 0px black;
}

.button-shadow {
    color:#b6c9c9;
    background-color: transparent;
    box-shadow: 2px 1px 0px 0px #b6c9c9;
}

.central {
    text-align: center;
    margin: auto;
    font-size: xx-large;
}

.selection-box {
    overflow:hidden;
    width:500px;
    margin:auto;
}

.location-box {
    width:400px;
    margin-top:30px;
    margin-bottom:30px;

    float:left;
    text-align:left;
}