#mainTitle {
    font-size: 100px;
    text-shadow: 3px 1px 3px black;
    
    width: 50%;
    margin: auto;
}

#title {
    display:flex;
    
    justify-content:center;
    align-items:center;
}

#node_button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.button-white {
    color: black;
    background-color: transparent;
    box-shadow: 2px 1px 0px 0px black;
}

.button-shadow {
    color:#b6c9c9;
    background-color: transparent;
    box-shadow: 2px 1px 0px 0px #b6c9c9;
}