<head>
    <title>
        Erin's Congrats
    </title>
    <link rel="stylesheet" type="text/css" href="/static/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/main_style.css">
    
    <script src="/static/vue_offline.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="/static/tools.js"></script>
</head>
<body>
    <div class="central" style="margin:20px">
            <div id="title" style="margin:25px">
                Great job!
            </div>
            <div id="title" style="margin:15px">
                You've solved a lot of puzzles that have
            </div>
            <div id="title" style="margin:15px">
                NOTHING to do with where we're going.
            </div>
            <div id="title" style="margin:25px">
                To compensate that, I'll give you quite the hint here.
            </div>
    </div>
    <table align="center">
        <tbody>
        <tr>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
            <td><input style="width:2cm;height:2cm;font-size:2cm;"></td>
        </tr>
        </tbody>
    </table>
    <div class="central">
        <div id="title" style="margin:25px">
            (What two letters are missing?)
        </div>
    </div>
</body>