<head>
    <title>
        X-Files Spyfall
    </title>
    <link rel="stylesheet" type="text/css" href="/static/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/main_style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="static/scripts.js"> </script>
    <script src="/static/tools.js"></script>
</head>
<body>
    <div id="frames">
        <!-- Main Menu -->
        <div v-if="frame == 'menuView'">
            <div id="mainTitle">
                <div id="title">
                    <p>Spyfall</p>
                </div>
                <div style="text-align: center">
                    <button v-on:click="frame = 'createScreen'" class="button button-white">START GAME</button>
                    <button v-on:click="frame = 'joinScreen'" class="button button-white">JOIN GAME</button>
                </div>
            </div>
        </div>

        <!-- Screen for users to join game -->
        <div class="central" v-if="frame == 'joinScreen'">
            <h1>SPYFALL</h1>

            <p>Enter your name:</p>
            <input v-model="myName">

            <p>Enter groupname:</p>
            <input v-model="group"><br>
            
            <div style="margin:10px">
                <button class="button button-white" v-if="validJoinSyntax" v-on:click="joinGroup">ADD ME</button>
                <button class="button button-shadow" v-else >ADD ME</button>
            </div>

            <p style="color:red;">{% raw %}{{ error }}{% endraw %}</p>
        </div>

        <!-- Screen for users to create game -->
        <div class="central" v-if="frame == 'createScreen'">
            <h1>Spyfall: X-files edition</h1>

            <p>Enter your name:</p>
            <input v-model="myName" style="font-size: 26">
            <button class="button button-white" v-if="validCreateSyntax" v-on:click="createGroup">CREATE GAME</button>
            <button class="button button-shadow" v-else>CREATE GAME</button>
            <br>

            <p style="color:red;">{% raw %}{{ error }}{% endraw %}</p>
        </div>

        <!-- Screen for users to view game hub -->
        <div class="central" v-if="frame == 'gameMenu'">
            <h1>Group code: {% raw %}{{ group }}{% endraw %}</h1>
            <checkbutton
                v-for="player in players"
                v-bind:title="player"
            ></checkbutton><br>
            
            <div style="text-align: center">
                    <button class="button button-white" v-on:click="leaveGroup">LEAVE GAME</button>
                    <button class="button button-white" v-on:click="startGame">START GAME</button>
            </div>

            <div v-if="admin" class="central" style="margin-top: 20px;">
                <potentialplace
                    v-for="location in locations"
                    v-bind:place="location"
                ></potentialplace>
            </div>
        </div>

        <!-- View during a game -->
        <div v-if="frame == 'gameView'">
            <p>Yay! A Game has started!</p>
            <h1>Players</h1>
            <checkbutton
                v-for="player in players"
                v-bind:title="player"
            ></checkbutton><br>
            <h1>Locations</h1>
            <checkbutton
                v-for="location in locations"
                v-bind:title="location"
            ></checkbutton><br>
        </div>
    </div>
    <script src="/static/viewer.js"></script>
    <script>
        Vue.component('checkbutton', {
            props: ['title'],
            data: function() {
                return {
                    crossed: false
                }
            },
            template: `
                <button id='node_button'
                    v-on:click='crossed=!(crossed)'
                    v-if="crossed" style="background-color:rgba(255, 0, 0, 0.3);">
                        {% raw %}<del>{{ title }}</del>{% endraw %}
                </button>
                <button id='node_button'
                    v-on:click='crossed=!(crossed)'
                    v-else style="background-color:green;">
                        {% raw %}{{ title }}{% endraw %}
                </button>`
        });
        Vue.component('potentialplace', {
            props: ['place'],
            data: function() {
                return {
                    visible: true
                }
            },
            methods: {
                deleteLocation: function(event) {
                    console.log(this.place);
                    this.visible = false;

                    getData('/api/v1/' + viewer.group + '/del_loc/' + this.place, function(data) {
                        // leave empty if only useless data is sent
                    });
                }
            },
            template: `
                <div class="selection-box" v-if="visible">
                    <div class="location-box">{% raw %}{{ place }}{% endraw %}</div>
                    <button style="float:right;" class="button button-white" v-on:click="deleteLocation">X</button>
                </div>`
        });
    </script>
    {% block startpoint %}
        <script>
            viewer.updateUsers();
        </script>
    {% endblock startpoint %}
</body>