<head>
    <title>
        X-Files Spyfall
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main_style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/tools.js"></script>
</head>
<body>
    <div id="frames">
        <!-- Main Menu -->
        <div v-if="frame == 'menuView'">
            <div id="mainTitle">
                <div id="title">
                    <p>Spyfall</p>
                </div>
                <div style="text-align: center">
                    <button v-on:click="frame = 'createScreen'">START GAME</button>
                    <button v-on:click="frame = 'joinScreen'">JOIN GAME</button>
                </div>
            </div>
        </div>

        <!-- Screen for users to join game -->
        <div v-if="frame == 'joinScreen'">
            <p>Yay! This is the screen to join a game!</p>
        </div>

        <!-- Screen for users to create game -->
        <div v-if="frame == 'createScreen'">
            <h1>Spyfall: X-files edition</h1>
            <p>Enter your name:</p>
            <input id="nameCreate">
            <button v-on:click="createGame">
                Create game!
            </button><br>

            <p id="createView"></p>
        </div>

        <!-- Screen for users to view game hub -->
        <div v-if="frame == 'gameMenu'">
            <h1>Game Menu already! Woohoo!</h1>
            <checkbutton
                v-for="player in players"
                v-bind:title="player"
            ></checkbutton><br>
            <div style="text-align: center">
                <button v-on:click="leaveGroup">LEAVE GROUP</button>
                <button v-on:click="frame = 'joinScreen'">START GAME</button>
            </div>
        </div>

        <!-- View during a game -->
        <div v-if="frame == 'gameView'">
            <p>Yay! A Game has started!</p>
        </div>
    </div>
    <script src="/static/viewer.js"></script>
    <script>
        Vue.component('checkbutton', {
            props: ['title'],
            data: function() {
                return {
                    crossed: false
                }
            },
            template: `
                <button id='node_button'
                    v-on:click='crossed=!(crossed)'
                    v-if="crossed" style="background-color:rgba(255, 0, 0, 0.3);">
                        {% raw %}<del>{{ title.name }}</del>{% endraw %}
                </button>
                <button id='node_button'
                    v-on:click='crossed=!(crossed)'
                    v-else style="background-color:green;">
                        {% raw %}{{ title.name }}{% endraw %}
                </button>`
        })
    </script>
    <script src='/static/stream_listener.js'></script>
    <script>
        console.log('Creating EventSource!')
        viewer.updateUsers();

        var stream_listener = listentoStream('yay', function(message) {
            if (message === "USER UPDATE") {
                viewer.updateUsers();
            }
        });
    </script>
</body>