<head>
    <title>
        X-Files Spyfall
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main_style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>
<body>
    <div id="frames">
        <!-- Main Menu -->
        <div v-if="frame == 'menuView'">
            <div id="mainTitle">
                <div id="title">
                    <p>Spyfall</p>
                </div>
                <div style="text-align: center">
                    <button v-on:click="frame = 'createScreen'">START GAME</button>
                    <button v-on:click="frame = 'joinScreen'">JOIN GAME</button>
                </div>
            </div>
        </div>

        <!-- Screen for users to join game -->
        <div v-if="frame == 'joinScreen'">
            <p>Yay! This is the screen to join a game!</p>
        </div>

        <!-- Screen for users to create game -->
        <div v-if="frame == 'createScreen'">
            <p style="color:red">Let's create a new group!</p>
        </div>

        <!-- Screen for users to view game hub -->
        <div v-if="frame == 'gameMenu'">
            <h1>Game Menu already! Woohoo!</h1>
        </div>

        <!-- View during a game -->
        <div v-if="frame == 'gameView'">
            <p>Yay! A Game has started!</p>
        </div>
    </div>
    <script>
        var viewer = new Vue({
            el: "#frames",
            data: {
                frame: 'menuView'
            }
        });

        function changeView(newView) {
            viewer.frame = newView
        }
    </script>
</body>