<head>
    <title>
        X-Files Spyfall
    </title>
    <link rel="stylesheet" type="text/css" href="/static/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/main_style.css">
    
    <script src="/static/vue_offline.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="/static/scripts.js"> </script>
    <script src="/static/tools.js"></script>
</head>
<body>
    <div class="central">
        <div id='revealer'>
            <button v-if="!revealed" v-on:click="revealed=!revealed" class="button button-white">REVEAL LOCATION</button>
            <p style="font-size: 1cm" v-if="revealed">
                We're going to {{ location }}!
            </p>
        </div>
    </div>
    <script>
        var revealer = new Vue({
            el: '#revealer',
            data: {
                revealed: false
            }
        });
    </script>
</body>