<head>
    <title>Join game</title>
    <script src="static/scripts.js"> </script>
</head>
<body>
    <h1>SPYFALL</h1>
    <p>Enter your name:</p>
    <input id="name">
    <p>Enter groupname:</p>
    <input id="groupName"><br>
    <button href = "spyfall.html" type="button" onclick="validateInput()">
        Add me!
    </button><br>

    <a onclick="hrefCall()"> knop </a>
    <form action="spyfall.html"><button id="goSpyfall" style="display:visible"></button></form>
    <p id="nameView"></p>
</body>